body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ffff;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

header {
	background-color: tomato;
}

h1 {
	margin: 0;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	color: #000000;
}

footer {
	/* position: absolute; */
	left: 0;
	bottom: 0;
	background-color: aqua;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.question-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-wrapper {
	width: 90%;
	display: flex;
	flex-direction: column;
}

img {
	height: 100%;
	width: 100%;
}
